.skills-container {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include tablette {
    margin-top: 40px;
  }
  // height: 396px;
  //   padding: 0 15px;

  & > h2 {
    margin-top: 25px;
    margin-bottom: 40px;

    @include tablette {
      margin-bottom: 55px;
    }

    @include laptop {
      font-size: 48px;
    }
  }
}

.carousel {
  position: relative;
  width: 100%;
  // background-color: red;

  @include laptop {
    width: 885px;
    // width: 925px;
  }

  @include laptopL {
    width: 1187px;
  }

  .chevron {
    position: absolute;
    transform: translate(0, -50%);
    padding: 7px 8px;
    border-radius: 10px;
    cursor: pointer;

    @media (max-width: 1023.5px) {
      display: none !important;
    }

    &:hover {
      background-color: rgba($light-tertiary, 0.85);
    }

    & > svg {
      position: relative;
      top: 3px;
      font-size: 2em;
    }

    &--left {
      left: -58px;
      top: 50%;

      & > svg {
        right: 2px;
      }
    }

    &--right {
      right: -58px;
      top: 50%;

      & > svg {
        left: 2px;
      }
    }
  }

  .cards-container {
    display: flex;
    // width: 270px;
    width: 100%;
    overflow-x: auto;
    // -ms-overflow-style: none; // IE 10+
    // overflow: -moz-scrollbars-none; // Firefox
    scrollbar-width: 8px;
    scrollbar-color: rgba($dark-font, 1) $tertiary;

    &::-webkit-scrollbar {
      // display: none;
      // width: 1px;
      height: 8px;
    }

    &::-webkit-scrollbar-track {
      background: $tertiary;
    }

    &::-webkit-scrollbar-thumb {
      background-color: rgba($dark-font, 1);
      border-radius: 20px;
      border: 2px solid $tertiary;
    }

    @include laptop {
      overflow: hidden;
    }

    .card {
      background-color: $light-tertiary;
      // min-width: 100%;
      min-width: 200px;
      height: 195px;
      margin: 0 10px;
      margin-bottom: 10px;
      padding: 26px 35px;
      box-sizing: border-box;
      transition: transform 700ms ease-in-out;

      @include tablette {
        min-width: 275px;
        height: 209px;
        margin: 0 20px;
        margin-bottom: 10px;
      }

      @include laptop {
        // min-width: 290px;
        max-width: 349px;
        height: 241px;
        max-height: 241px;
        padding: 34px 35px;
        margin: 0 10px;
      }

      @include laptopL {
        min-width: 349px;
        margin: 0 30px;
        padding: 34px 50px;
        // transform: translate(0px) !important;
      }

      &:first-of-type {
        margin-left: 10px !important;
      }
      &:last-of-type {
        margin-right: 10px !important;
      }

      &:hover {
        border-bottom: 5px solid $primary;
      }

      &__logo {
        width: 80px;
        height: 80px;
        color: $primary;
        margin-left: -10px;
      }

      .logo3 {
        margin-left: -5px;
      }

      .logo4 {
        margin-left: -2px;
      }

      .logo5 {
        margin-left: -22px;
      }

      &__title {
        padding-top: 25px;
        margin: 0;
        font-size: 26px;
        color: $dark-font;

        @include tablette {
          padding-top: 32px;
        }

        @include laptop {
          padding-top: 48px;
          font-size: 36px;
        }
      }
    }
  }
}
