.footer {
  // height: 186px;
  height: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: $dark-font;

  @include laptop {
    height: 200px;
    margin-top: 50px;
  }

  &__title {
    margin-left: 2px;
  }
}
