.header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: rgba($tertiary, 0.9);
  backdrop-filter: blur(5px);

  display: flex;
  justify-content: space-between;
  align-items: center;
  // padding: 28px 80px;
  padding: 28px 10px;

  @include mobileM {
    padding: 28px 20px;
  }

  @include mobileL {
    padding: 28px 30px;
  }

  @include tablette {
    padding: 28px 40px;
  }

  &__title {
    font-weight: 700;
    // font-size: 36px;
    font-size: 20px;

    @include tablette {
      font-size: 36px;
    }
  }

  &__navbar {
    font-size: 14px;

    .active {
      color: $primary;
      font-weight: bold;
    }

    @include tablette {
      font-size: 18px;
    }

    a {
      // padding: 0 20px;
      padding: 0 5px;

      &:hover {
        color: $primary;
      }

      &:last-of-type {
        padding-right: 0;
      }

      @include mobileL {
        padding: 0 10px;
      }

      @include tablette {
        padding: 0 20px;
      }
    }
  }
}
